<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wayne.system.mapper.SysRoleMapper">

    <resultMap id="SysRoleMap" type="SysRole">
        <id column="role_id" property="roleId"></id>
        <result column="role_name" property="roleName"></result>
        <result column="role_code" property="roleCode"></result>
        <result column="enable" property="enable"></result>
        <result column="sort" property="sort"></result>
        <result column="create_by" property="createBy"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_by" property="updateBy"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="remark" property="remark"></result>
    </resultMap>
    <!-- 根据 用户名-->
    <select id="selectByUsername" resultMap="SysRoleMap">
        SELECT
        *
        FROM
        sys_role sr ON sr.role_id = srp.role_id
        LEFT JOIN sys_user_role sur ON sur.role_id = sr.role_id
        LEFT JOIN sys_user su ON su.user_id = sur.user_id
        WHERE
        su.username = #{username}
        and sr.enable = 1
        ORDER BY
        sr.sort ASC
    </select>
</mapper>