.wayne-container {
    margin: 10px;
    background-color: whitesmoke;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

body::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #E6E6E6;
}

body::-webkit-scrollbar-corner {
    background: #f6f6f6;
}

.mainBox::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.mainBox::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.mainBox::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}

.mainBox::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 2px;
}

.mainBox::-webkit-scrollbar-thumb:hover {
    background: #E6E6E6;
}

.mainBox::-webkit-scrollbar-corner {
    background: #f6f6f6;
}

.mainBox {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 50px;
    overflow: auto;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    line-height: 50px;
    background-color: #F8F8F8;
    border-top: 1px solid #eee;
}

.button-container {
    position: absolute;
    right: 15px;
}

.main-container {
    margin: 15px;
}

.main-container .layui-form-item {
    margin-bottom: 15px !important;
    margin-top: 10px !important;
}

.wayne-row::before,
.wayne-row::after {
    content: "";
    display: table;
    clear: both;
}

.wayne-col {
    float: left;
    min-height: 1px;
}

.wayne-row * {
    box-sizing: border-box
}

.wayne-col-md1 {
    width: 4.16%;
}

.wayne-col-md2 {
    width: 8.33%;
}

.wayne-col-md3 {
    width: 12.5%;
}

.wayne-col-md4 {
    width: 16.66%;
}

.wayne-col-md5 {
    width: 20.83%;
}

.wayne-col-md6 {
    width: 25%;
}

.wayne-col-md7 {
    width: 29.16%;
}

.wayne-col-md8 {
    width: 33.33%;
}

.wayne-col-md9 {
    width: 37.5%;
}

.wayne-col-md10 {
    width: 41.66%;
}

.wayne-col-md11 {
    width: 45.83%;
}

.wayne-col-md12 {
    width: 50%;
}

.wayne-col-md13 {
    width: 54.16%;
}

.wayne-col-md14 {
    width: 58.33%;
}

.wayne-col-md15 {
    width: 62.5%;
}

.wayne-col-md16 {
    width: 66.66%;
}

.wayne-col-md17 {
    width: 70.83%;
}

.wayne-col-md18 {
    width: 75%;
}

.wayne-col-md19 {
    width: 79.16%;
}

.wayne-col-md20 {
    width: 83.33%;
}

.wayne-col-md21 {
    width: 87.5%;
}

.wayne-col-md22 {
    width: 91.66%;
}

.wayne-col-md23 {
    width: 95.83%;
}

.wayne-col-md24 {
    width: 100%;
}

.wayne-col-md-offset1 {
    margin-left: 4.16%;
}

.wayne-col-md-offset2 {
    margin-left: 8.33%;
}

.wayne-col-md-offset3 {
    margin-left: 12.5%;
}

.wayne-col-md-offset4 {
    margin-left: 16.66%;
}

.wayne-col-md-offset5 {
    margin-left: 20.83%;
}

.wayne-col-md-offset6 {
    margin-left: 25%;
}

.wayne-col-md-offset7 {
    margin-left: 29.16%;
}

.wayne-col-md-offset8 {
    margin-left: 33.33%;
}

.wayne-col-md-offset9 {
    margin-left: 37.5%;
}

.wayne-col-md-offset10 {
    margin-left: 41.66%;
}

.wayne-col-md-offset11 {
    margin-left: 45.83%;
}

.wayne-col-md-offset12 {
    margin-left: 50%;
}

.wayne-col-md-offset13 {
    margin-left: 54.16%;
}

.wayne-col-md-offset14 {
    margin-left: 58.33%;
}

.wayne-col-md-offset15 {
    margin-left: 62.5%;
}

.wayne-col-md-offset16 {
    margin-left: 66.66%;
}

.wayne-col-md-offset17 {
    margin-left: 70.83%;
}

.wayne-col-md-offset18 {
    margin-left: 75%;
}

.wayne-col-md-offset19 {
    margin-left: 79.16%;
}

.wayne-col-md-offset20 {
    margin-left: 83.33%;
}

.wayne-col-md-offset21 {
    margin-left: 87.5%;
}

.wayne-col-md-offset22 {
    margin-left: 91.66%;
}

.wayne-col-md-offset23 {
    margin-left: 95.83%;
}

.wayne-col-md-offset24 {
    margin-left: 100%;
}

@media all and (max-width: 768px) {
    .wayne-col-xs1 {
        width: 4.16%;
    }

    .wayne-col-xs2 {
        width: 8.33%;
    }

    .wayne-col-xs3 {
        width: 12.5%;
    }

    .wayne-col-xs4 {
        width: 16.66%;
    }

    .wayne-col-xs5 {
        width: 20.83%;
    }

    .wayne-col-xs6 {
        width: 25%;
    }

    .wayne-col-xs7 {
        width: 29.16%;
    }

    .wayne-col-xs8 {
        width: 33.33%;
    }

    .wayne-col-xs9 {
        width: 37.5%;
    }

    .wayne-col-xs10 {
        width: 41.66%;
    }

    .wayne-col-xs11 {
        width: 45.83%;
    }

    .wayne-col-xs12 {
        width: 50%;
    }

    .wayne-col-xs13 {
        width: 54.16%;
    }

    .wayne-col-xs14 {
        width: 58.33%;
    }

    .wayne-col-xs15 {
        width: 62.5%;
    }

    .wayne-col-xs16 {
        width: 66.66%;
    }

    .wayne-col-xs17 {
        width: 70.83%;
    }

    .wayne-col-xs18 {
        width: 75%;
    }

    .wayne-col-xs19 {
        width: 79.16%;
    }

    .wayne-col-xs20 {
        width: 83.33%;
    }

    .wayne-col-xs21 {
        width: 87.5%;
    }

    .wayne-col-xs22 {
        width: 91.66%;
    }

    .wayne-col-xs23 {
        width: 95.83%;
    }

    .wayne-col-xs24 {
        width: 100%;
    }

    .wayne-col-xs-offset1 {
        margin-left: 4.16%;
    }

    .wayne-col-xs-offset2 {
        margin-left: 8.33%;
    }

    .wayne-col-xs-offset3 {
        margin-left: 12.5%;
    }

    .wayne-col-xs-offset4 {
        margin-left: 16.66%;
    }

    .wayne-col-xs-offset5 {
        margin-left: 20.83%;
    }

    .wayne-col-xs-offset6 {
        margin-left: 25%;
    }

    .wayne-col-xs-offset7 {
        margin-left: 29.16%;
    }

    .wayne-col-xs-offset8 {
        margin-left: 33.33%;
    }

    .wayne-col-xs-offset9 {
        margin-left: 37.5%;
    }

    .wayne-col-xs-offset10 {
        margin-left: 41.66%;
    }

    .wayne-col-xs-offset11 {
        margin-left: 45.83%;
    }

    .wayne-col-xs-offset12 {
        margin-left: 50%;
    }

    .wayne-col-xs-offset13 {
        margin-left: 54.16%;
    }

    .wayne-col-xs-offset14 {
        margin-left: 58.33%;
    }

    .wayne-col-xs-offset15 {
        margin-left: 62.5%;
    }

    .wayne-col-xs-offset16 {
        margin-left: 66.66%;
    }

    .wayne-col-xs-offset17 {
        margin-left: 70.83%;
    }

    .wayne-col-xs-offset18 {
        margin-left: 75%;
    }

    .wayne-col-xs-offset19 {
        margin-left: 79.16%;
    }

    .wayne-col-xs-offset20 {
        margin-left: 83.33%;
    }

    .wayne-col-xs-offset21 {
        margin-left: 87.5%;
    }

    .wayne-col-xs-offset22 {
        margin-left: 91.66%;
    }

    .wayne-col-xs-offset23 {
        margin-left: 95.83%;
    }

    .wayne-col-xs-offset24 {
        margin-left: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .wayne-col-sm1 {
        width: 4.16%;
    }

    .wayne-col-sm2 {
        width: 8.33%;
    }

    .wayne-col-sm3 {
        width: 12.5%;
    }

    .wayne-col-sm4 {
        width: 16.66%;
    }

    .wayne-col-sm5 {
        width: 20.83%;
    }

    .wayne-col-sm6 {
        width: 25%;
    }

    .wayne-col-sm7 {
        width: 29.16%;
    }

    .wayne-col-sm8 {
        width: 33.33%;
    }

    .wayne-col-sm9 {
        width: 37.5%;
    }

    .wayne-col-sm10 {
        width: 41.66%;
    }

    .wayne-col-sm11 {
        width: 45.83%;
    }

    .wayne-col-sm12 {
        width: 50%;
    }

    .wayne-col-sm13 {
        width: 54.16%;
    }

    .wayne-col-sm14 {
        width: 58.33%;
    }

    .wayne-col-sm15 {
        width: 62.5%;
    }

    .wayne-col-sm16 {
        width: 66.66%;
    }

    .wayne-col-sm17 {
        width: 70.83%;
    }

    .wayne-col-sm18 {
        width: 75%;
    }

    .wayne-col-sm19 {
        width: 79.16%;
    }

    .wayne-col-sm20 {
        width: 83.33%;
    }

    .wayne-col-sm21 {
        width: 87.5%;
    }

    .wayne-col-sm22 {
        width: 91.66%;
    }

    .wayne-col-sm23 {
        width: 95.83%;
    }

    .wayne-col-sm24 {
        width: 100%;
    }

    .wayne-col-sm-offset1 {
        margin-left: 4.16%;
    }

    .wayne-col-sm-offset2 {
        margin-left: 8.33%;
    }

    .wayne-col-sm-offset3 {
        margin-left: 12.5%;
    }

    .wayne-col-sm-offset4 {
        margin-left: 16.66%;
    }

    .wayne-col-sm-offset5 {
        margin-left: 20.83%;
    }

    .wayne-col-sm-offset6 {
        margin-left: 25%;
    }

    .wayne-col-sm-offset7 {
        margin-left: 29.16%;
    }

    .wayne-col-sm-offset8 {
        margin-left: 33.33%;
    }

    .wayne-col-sm-offset9 {
        margin-left: 37.5%;
    }

    .wayne-col-sm-offset10 {
        margin-left: 41.66%;
    }

    .wayne-col-sm-offset11 {
        margin-left: 45.83%;
    }

    .wayne-col-sm-offset12 {
        margin-left: 50%;
    }

    .wayne-col-sm-offset13 {
        margin-left: 54.16%;
    }

    .wayne-col-sm-offset14 {
        margin-left: 58.33%;
    }

    .wayne-col-sm-offset15 {
        margin-left: 62.5%;
    }

    .wayne-col-sm-offset16 {
        margin-left: 66.66%;
    }

    .wayne-col-sm-offset17 {
        margin-left: 70.83%;
    }

    .wayne-col-sm-offset18 {
        margin-left: 75%;
    }

    .wayne-col-sm-offset19 {
        margin-left: 79.16%;
    }

    .wayne-col-sm-offset20 {
        margin-left: 83.33%;
    }

    .wayne-col-sm-offset21 {
        margin-left: 87.5%;
    }

    .wayne-col-sm-offset22 {
        margin-left: 91.66%;
    }

    .wayne-col-sm-offset23 {
        margin-left: 95.83%;
    }

    .wayne-col-sm-offset24 {
        margin-left: 100%;
    }
}

@media all and (min-width: 1200px) {
    .wayne-col-lg1 {
        width: 4.16%;
    }

    .wayne-col-lg2 {
        width: 8.33%;
    }

    .wayne-col-lg3 {
        width: 12.5%;
    }

    .wayne-col-lg4 {
        width: 16.66%;
    }

    .wayne-col-lg5 {
        width: 20.83%;
    }

    .wayne-col-lg6 {
        width: 25%;
    }

    .wayne-col-lg7 {
        width: 29.16%;
    }

    .wayne-col-lg8 {
        width: 33.33%;
    }

    .wayne-col-lg9 {
        width: 37.5%;
    }

    .wayne-col-lg10 {
        width: 41.66%;
    }

    .wayne-col-lg11 {
        width: 45.83%;
    }

    .wayne-col-lg12 {
        width: 50%;
    }

    .wayne-col-lg13 {
        width: 54.16%;
    }

    .wayne-col-lg14 {
        width: 58.33%;
    }

    .wayne-col-lg15 {
        width: 62.5%;
    }

    .wayne-col-lg16 {
        width: 66.66%;
    }

    .wayne-col-lg17 {
        width: 70.83%;
    }

    .wayne-col-lg18 {
        width: 75%;
    }

    .wayne-col-lg19 {
        width: 79.16%;
    }

    .wayne-col-lg20 {
        width: 83.33%;
    }

    .wayne-col-lg21 {
        width: 87.5%;
    }

    .wayne-col-lg22 {
        width: 91.66%;
    }

    .wayne-col-lg23 {
        width: 95.83%;
    }

    .wayne-col-lg24 {
        width: 100%;
    }

    .wayne-col-lg-offset1 {
        margin-left: 4.16%;
    }

    .wayne-col-lg-offset2 {
        margin-left: 8.33%;
    }

    .wayne-col-lg-offset3 {
        margin-left: 12.5%;
    }

    .wayne-col-lg-offset4 {
        margin-left: 16.66%;
    }

    .wayne-col-lg-offset5 {
        margin-left: 20.83%;
    }

    .wayne-col-lg-offset6 {
        margin-left: 25%;
    }

    .wayne-col-lg-offset7 {
        margin-left: 29.16%;
    }

    .wayne-col-lg-offset8 {
        margin-left: 33.33%;
    }

    .wayne-col-lg-offset9 {
        margin-left: 37.5%;
    }

    .wayne-col-lg-offset10 {
        margin-left: 41.66%;
    }

    .wayne-col-lg-offset11 {
        margin-left: 45.83%;
    }

    .wayne-col-lg-offset12 {
        margin-left: 50%;
    }

    .wayne-col-lg-offset13 {
        margin-left: 54.16%;
    }

    .wayne-col-lg-offset14 {
        margin-left: 58.33%;
    }

    .wayne-col-lg-offset15 {
        margin-left: 62.5%;
    }

    .wayne-col-lg-offset16 {
        margin-left: 66.66%;
    }

    .wayne-col-lg-offset17 {
        margin-left: 70.83%;
    }

    .wayne-col-lg-offset18 {
        margin-left: 75%;
    }

    .wayne-col-lg-offset19 {
        margin-left: 79.16%;
    }

    .wayne-col-lg-offset20 {
        margin-left: 83.33%;
    }

    .wayne-col-lg-offset21 {
        margin-left: 87.5%;
    }

    .wayne-col-lg-offset22 {
        margin-left: 91.66%;
    }

    .wayne-col-lg-offset23 {
        margin-left: 95.83%;
    }

    .wayne-col-lg-offset24 {
        margin-left: 100%;
    }
}

.wayne-col-space1 {
    margin: -.5px
}

.wayne-col-space1 > * {
    padding: .5px
}

.wayne-col-space2 {
    margin: -1px
}

.wayne-col-space2 > * {
    padding: 1px
}

.wayne-col-space4 {
    margin: -2px
}

.wayne-col-space4 > * {
    padding: 2px
}

.wayne-col-space5 {
    margin: -2.5px
}

.wayne-col-space5 > * {
    padding: 2.5px
}

.wayne-col-space6 {
    margin: -3px
}

.wayne-col-space6 > * {
    padding: 3px
}

.wayne-col-space8 {
    margin: -4px
}

.wayne-col-space8 > * {
    padding: 4px
}

.wayne-col-space10 {
    margin: -5px
}

.wayne-col-space10 > * {
    padding: 5px
}

.wayne-col-space12 {
    margin: -6px
}

.wayne-col-space12 > * {
    padding: 6px
}

.wayne-col-space14 {
    margin: -7px
}

.wayne-col-space14 > * {
    padding: 7px
}

.wayne-col-space15 {
    margin: -7.5px
}

.wayne-col-space15 > * {
    padding: 7.5px
}

.wayne-col-space16 {
    margin: -8px
}

.wayne-col-space16 > * {
    padding: 8px
}

.wayne-col-space18 {
    margin: -9px
}

.wayne-col-space18 > * {
    padding: 9px
}

.wayne-col-space20 {
    margin: -10px
}

.wayne-col-space20 > * {
    padding: 10px
}

.wayne-col-space22 {
    margin: -11px
}

.wayne-col-space22 > * {
    padding: 11px
}

.wayne-col-space24 {
    margin: -12px
}

.wayne-col-space24 > * {
    padding: 12px
}

.wayne-col-space25 {
    margin: -12.5px
}

.wayne-col-space25 > * {
    padding: 12.5px
}

.wayne-col-space26 {
    margin: -13px
}

.wayne-col-space26 > * {
    padding: 13px
}

.wayne-col-space28 {
    margin: -14px
}

.wayne-col-space28 > * {
    padding: 14px
}

.wayne-col-space30 {
    margin: -15px
}

.wayne-col-space30 > * {
    padding: 15px
}
