.wayne-link {
    font-size: 15px !important;
}

.wayne-link.wayne-link-primary {
    color: #5FB878;
}

.wayne-link.wayne-link-success {
    color: #5FB878;
}

.wayne-link .wayne-link-warming {


}

.wayne-link .wayne-link-danger {

}